<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/images/aps-logo.png" class="main-logo" alt="main logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start ms-3" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="mat-button d-flex flex-row align-items-center" [routerLink]="['/aircrafts']">
              <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="flight" class="me-1"></mat-icon>
              <span>Aircrafts</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="mat-button d-flex flex-row align-items-center" [routerLink]="['/add']">
              <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="add" class="me-1"></mat-icon>
              <span>Add</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>