<div class="container">  
  <div class="row">
    <img src="assets/images/plane.jpg" />
  </div>

  <div class="row mt-4">
    <h1>Bonjour, monde!</h1>
    <p>
      Bienvenue sur Aircraft Pro Solution, une application web dédiée au test full stack de
      <a href='https://www.beslogic.com/fr' target="_blank">Beslogic</a>
      ! Ce site utilise les technologies listées ci-bas:
    </p>
    <ul class="ps-5">
      <li>
        <a href='https://get.asp.net/' target="_blank">ASP.NET Core</a>
        ,
        <a href='https://learn.microsoft.com/en-us/ef/core/' target="_blank">Entity Framework Core</a>
        &
        <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx' target="_blank">C#</a>
        pour le code multi-plateforme côté serveur
      </li>
      <li>
        <a href='https://angular.io/' target="_blank">Angular</a>
        &
        <a href='http://www.typescriptlang.org/' target="_blank">TypeScript</a>
        pour le code côté client
      </li>
      <li>
        <a href='http://getbootstrap.com/' target="_blank">Bootstrap</a>
        &
        <a href='ttps://material.angular.io/' target="_blank">Angular Material</a>
        pour la mise en forme et le style
      </li>
      <li>
        <a href='https://www.docker.com/' target="_blank">Docker</a>
        pour héberger la base de données (je travaille avec macOS, oops! 🫢)
      </li>
    </ul>
  </div>
</div>